<% provide :title, t("register") %>
<div class="sign-up-form">
  <h3><%= t ".register_here" %></h3>
  <small><%= t ".signup_tip" %></small>
  <%= form_for resource, url: signup_path(resource), class: "sign-up" do |f| %>
    <%= devise_error_messages! %>

    <h5><%= t ".personal" %></h5>
    <ul class="sign-up-field">
      <li>
        <%= f.label :name, t(".name") %>
        <%= f.text_field :name, autofocus: true, class: "form-control" %>
      </li>
      <li>
        <%= f.label :email, t(".email") %>
        <%= f.email_field :email, class: "form-control" %>
      </li>
    </ul>

    <h5><%= t ".signin_info" %></h5>
    <ul class="sign-up-field">
      <li>
        <%= f.label :password, t(".passwd") %>
        <%= f.password_field :password, class: "form-control" %>
      </li>
      <li>
        <%= f.label :password_confirmation, t(".confirm") %>
        <%= f.password_field :password_confirmation, class: "form-control" %>
      </li>
    </ul>

    <%= f.submit t("register"), class: "register-btn" %>
  <% end %>
</div>
