<li>
  <%= image_tag user.avatar, alt: user.name, class: "avatar-img-small" %>
  <div class="user-attribute">
    <%= link_to user.name, controller: :posts, action: :index, user_id: user.id,
      class: "user-name-info" %>
    <div class="user-stats">
      <p><%= t ".join_time" %> <%= l user.created_at, format: :join_time %></p>
      <p><%= t ".number_post" %> <%= user.posts.size %></p>
    </div>
  </div>
</li>
