<% provide :title, @post.title %>
<div class="row">
  <div class="single-post col-md-9">
    <div class="post-content">
      <h3><%= @post.title %></h3>
      <ul class="tag-list">
        <%= render @post.tags %>
      </ul>
      <%= image_tag @post.picture, class: "single-post-picture" if @post.picture %>
      <p><%= @post.content %></p>
    </div>
    <ul class="post-link">
      <%= render "posts/post_link", post: @post %>
    </ul>
    <%= render "shared/comment_list", post: @post %>
  </div>
  <div class="sidebar-post col-md-3">
    <div class="post-author">
      <%= image_tag @post.user.avatar, alt: "", class: "author-avatar" %>
      <%= link_to @post.user.name, @post.user, class: "user-link" %>
    </div>
    <div class="post-share">
      <%= image_tag "", alt: t(".fb"), class: "avatar-img-small" %>
      <%= image_tag "", alt: t(".tt"), class: "avatar-img-small" %>
      <%= image_tag "", alt: t(".gg"), class: "avatar-img-small" %>
    </div>
  </div>
</div>
