<div class="header">
  <div class="header-nav">
    <div class="navbar navbar-default">
      <div class="navbar-header">
        <%= link_to root_path, class: "navbar-brand" do %>
          <span class="home-link"><%= t "app_name" %></span>
        <% end %>
      </div>
      <div class="collapse navbar-collapse nav-wil">
        <ul class="nav navbar-nav">
          <li class="hvr-bounce-to-bottom", id="active-home">
            <%= link_to t("posts_title"), root_path %>
          </li>
          <% if user_signed_in? %>
            <li class="hvr-bounce-to-bottom", id="active-users">
              <%= link_to t("users_title"), users_path %>
            </li>
          <% end %>
          <li class="hvr-bounce-to-bottom", id="active-tags">
            <%= link_to t("tags_title"), tags_path %>
          </li>
        </ul>
        <div class="sign-in">
          <ul>
            <% if user_signed_in? %>
              <li class="dropdown">
                <%= link_to "#", class: "dropdown-toggle", data: {toggle: :dropdown} do %>
                  <%= t ".hi" %><%= current_user.name %>
                  <b class="glyphicon glyphicon-menu-hamburger"></b>
                <% end %>
                <ul class="dropdown-menu">
                  <li><%= link_to t(".profile"), current_user %></li>
                  <li>
                    <%= link_to t(".settings"), edit_path(current_user) %>
                  </li>
                  <div class="divider"></div>
                  <li><%= link_to t("signout"), signout_path, method: :delete %></li>
                </ul>
              </li>
            <% else %>
              <li><%= link_to t("signin"), signin_path %></li>
              <li class="space">|</li>
              <li><%= link_to t("register"), signup_path %></li>
            <% end %>
          </ul>
        </div>
        <span class="info-sign">
          <div class="dropdown">
            <%= link_to "#", class: "dropdown-toggle", data: {toggle: :dropdown} do %>
              <b class="glyphicon glyphicon-info-sign"></b>
            <% end %>
            <ul class="dropdown-menu">
              <li><%= link_to t("about"), about_path %></li>
              <li><%= link_to t("contact"), contact_path %></li>
            </ul>
          </div>
        </span>
        <% if user_signed_in? %>
          <span class="pencil">
            <%= link_to create_post_path do %>
              <b class="glyphicon glyphicon-pencil"></b>
            <% end %>
          </span>
        <% end %>
        </span>
        <div class="search">
          <%= form_tag posts_path, method: :get, class: "navbar-form navbar-right search-form" do %>
            <%= text_field_tag :q, params[:q], placeholder: t(".search"),
              class: "form-control" %>
            <%= button_tag "search", class: "btn btn-default" do %>
              <span class="glyphicon glyphicon-search"></span>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
