<div class="header">
  <div class="header-nav">
    <div class="navbar navbar-default">
      <div class="navbar-header">
        <%= link_to root_path, class: "navbar-brand" do %>
          <span class="home-link"><%= t "app_name" %></span>
        <% end %>
      </div>
      <div class="collapse navbar-collapse nav-wil">
        <ul class="nav navbar-nav">
          <li class="hvr-bounce-to-bottom", id="active-home">
            <%= link_to t("home"), root_path %>
          </li>
          <li class="hvr-bounce-to-bottom", id="active-about">
            <%= link_to t("about"), about_path %>
          </li>
          <li class="hvr-bounce-to-bottom", id="active-users">
            <%= link_to t("users"), "#" %>
          </li>
          <li class="hvr-bounce-to-bottom", id="active-posts">
            <%= link_to t("posts"), "#" %>
          </li>
          <li class="hvr-bounce-to-bottom", id="active-contact">
            <%= link_to t("contact"), contact_path %>
          </li>
        </ul>
        <div class="search">
          <%= form_tag "#", method: :get, class: "navbar-form navbar-left search-form" do %>
            <%= text_field_tag :q, params[:q], placeholder: t(".search"),
              class: "form-control" %>
            <%= button_tag "search", class: "btn btn-default" do %>
              <span class="glyphicon glyphicon-search"></span>
            <% end %>
          <% end %>
        </div>
        <div class="sign-in">
          <ul>
            <li><%= link_to t("signin"), "#" %></li> /
            <li><%= link_to t("register"), "#" %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
