<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :title %> | <%= t "app_title" %></title>
    <%= render "layouts/rails_head" %>
  </head>
  <body>
    <div class="banner-body abt">
      <div class="container">
        <%= render "layouts/header" %>
        <div class="main-body">
          <%= yield %>
        </div>
      </div>
    </div>
    <%= render "layouts/footer" %>
  </body>
</html>
